FRPS_IMAGE=snowdreamtech/frps:latest
FRPS_PORT_MIN=7000
FRPS_PORT_MAX=7100
PROVISIONER_API_KEY=random 32 byte api key
MESH_DOMAIN=your-domain.com
TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=porkbun account email
PORKBUN_API_KEY=generated in porkbun account settings
PORKBUN_SECRET_API_KEY=generated in porkbun account settings