serverAddr = "FRP_HOST"
serverPort = "FRP_PORT"

auth.token = "FRP_AUTH_TOKEN"

[[proxies]]
name = "headscale"
type = "tcp"
localIP = "headscale"
localPort = 8080
remotePort = 8090

[[proxies]]
name = "ui"
type = "tcp"
localIP = "ui"
localPort = 8080
remotePort = 8091
