services:
  headscale:
    image: docker.io/headscale/headscale:0.28.0
    restart: unless-stopped
    container_name: headscale
    volumes:
      - ./headscale/config:/etc/headscale
      - ./headscale/lib:/var/lib/headscale
    tmpfs:
      - /var/run/headscale
    command: serve

  # https://github.com/juanfont/headscale/issues/623
  # nginx reverse proxies to headscale and mesh-ui, adding security-related headers (CORS, CSP, etc.)
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    container_name: headscale-proxy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf.template
    environment:
      - CORS_ORIGIN=https://${BASE_DOMAIN}
    depends_on:
      - headscale
    ports:
      - "127.0.0.1:80:80"
    entrypoint: /bin/sh -c "envsubst '$$CORS_ORIGIN' < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"

  mesh_ui:
    build:
      context: ./mesh-ui
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: mesh_ui
    environment:
      - NODE_ENV=production
      - BASE_DOMAIN=${BASE_DOMAIN}
